/* active links */
.router-link-active {
    color: rgb(0, 120, 190);
    box-shadow: inset 0 0 0 5px rgb(0, 120, 190);
}

.main-nav .fa, .main-nav .far, .main-nav .fas {
    font-size: 8vh;
}

/* App header */

.app-header {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    height: 5em;
    min-height: 3.5em;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
    background: rgb(179, 215, 255);
    background: linear-gradient(
        141deg,
        rgba(179, 215, 255, 1) 0%,
        rgb(0, 120, 190)
    );
    box-shadow: inset 0 -5px 0 0 rgba(129, 208, 253, 0.9);
    z-index: 250;
}

.app-header .logo {
    font-size: 1.75em;
    padding-left: 0.5em;
    
    font-family:Arial, Helvetica, sans-serif;
    color: white;
}

/* Main Nav */

.app-header .main-nav {
    height: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 1fr);
    transform: translateX(75%);
    pointer-events: none;
}

ul.menu-open.main-nav {
    overflow-y: auto;
    transform: translateX(0);
    opacity: 1;
    pointer-events: all;
}

.main-nav a {
    height: 20vh;
    width: 20vh;
    max-width: 7em;
    max-height: 7em;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 2px solid rgba(0, 0, 0, 0.05);
    font-weight: bold;
    border-radius: 1em;

    background-color: rgba(255, 255, 255, 0.95);
    transition: all 0.3s;
    box-shadow: inset 0;
    border-bottom: none;
}

.main-nav a:hover {
    color: rgb(0, 120, 190);
    box-shadow: inset 0 -5px 0 0 rgb(0, 120, 190);
}

@media (min-width: 768px) {
    .app-header .main-nav {
        width: 350px;
        height: 450px;
        right: 0;
        left: initial;
        box-shadow: 0 3px 15px 0 rgba(0, 0, 0, 0.25);
        border-radius: 0 0 0 1em;
    }
    .main-nav .fa, .main-nav .far, .main-nav .fas {
        font-size: 3.5vh;
    }
    .main-nav a {
        max-width: 4.5em;
        max-height: 4.5em;
    }
}



/* Burger Menu */
.burger-menu {
    width: 2.5em;
    height: 3em;
    position: relative;
    transform: rotate(0deg);
    transition: 0.5s ease-in-out;
    cursor: pointer;
    margin-right: 1.5em;
}

.burger-menu span {
    display: block;
    position: absolute;
    height: 0.4em;
    width: 100%;
    border-radius: 0.5em;
    opacity: 1;
    left: 0;
    transform: rotate(0deg);
    transition: 0.25s ease-in-out;
    background-color: #fff;
}

.burger-menu span:nth-child(1) {
    top: 0;
}

.burger-menu span:nth-child(2),
.burger-menu span:nth-child(3) {
    top: 1em;
}

.burger-menu span:nth-child(4) {
    top: 2em;
}

.burger-menu.menu-open span:nth-child(1) {
    top: 1em;
    width: 0%;
    left: 50%;
}
.burger-menu.menu-open span:nth-child(2) {
    transform: rotate(45deg);
}
.burger-menu.menu-open span:nth-child(3) {
    transform: rotate(-45deg);
}
.burger-menu.menu-open span:nth-child(4) {
    top: 1.2em;
    width: 0%;
    left: 50%;
}

.main-nav {
    position: fixed;
    top: 5em;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.25);
    height: 0;

    opacity: 0;
    overflow: hidden;
    transition: all 0.4s;
}
