.email-list {
    max-width: 100%;
    flex-grow: 1;
}

.email-list .sort-bar {
    padding: 0 1.5em;
    font-weight: bold;
    font-size: 0.95em;
}

.email-list .sort-bar .tools {
    display: flex;
    align-items: center;
}

.sort-bar .tools p {
    font-size: 0.85em;
}


.sort-bar .tools .btn-date{
    border-radius: 0.5em;
    width: 3em;
    font-weight: bold;
    margin-left: 1em;
}

.email-list li {
    border-bottom: 1px solid rgba(0, 0, 0, 0.253);
    background-color: #fff;
    white-space: nowrap;
    position: relative;
}

.email-list li.read {
    height: em;
    background-color: rgb(230, 230, 230);
    color: rgba(128, 128, 128, 0.8);
}

.email-list li:hover {
    background-color: gainsboro;
    cursor: pointer;
}

.email-list li>a {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 3em;
    padding: 0.5em 1em 0.5em 2em;
    font-size: 0.95em;
    overflow: hidden;
}

.email-list button {
    padding: 0.5em;
    border-radius: 50%;
    border: none;
    background-color: transparent;

    transition: 0.3s;
}

.email-list button:hover {
    background-color: rgba(255, 255, 255, 0.8);
}

.email-list .fa, .email-list .far, .email-list .fas {
    font-size: 1.5em;
}

.email-list .from , .email-list .subject{
    font-weight: bold;
}

.email-list .list-main {
    display: flex;
    align-items: center;
    min-width: 10em;
    margin: 0;
    margin-right: 2em;
}

.email-list .list-content {
    display: flex;
    align-items: center;
    flex-grow: 1;
    justify-content: flex-start;
    text-align: left;
    overflow: hidden;
    margin-right: 1em;
}


@media (min-width: 768px) {
    .email-list{
        padding-left: 16em;
    }
}