.email-list {
    padding-left: 16em;
    max-width: 100%;
    flex-grow: 1;
}

.email-list li {
    border-bottom: 1px solid #000;
    background-color: #fff;
    white-space: nowrap;
    position: relative;
    /* overflow: hidden; */
}

.email-list li.read {
    height: em;
    background-color: rgb(200, 200, 200);
}

.email-list li:hover {
    background-color: gainsboro;
    cursor: pointer;
}

.email-list li>a {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 3em;
    padding: 0.5em 1em;
    font-size: 0.95em;
    overflow: hidden;
}

.email-list button {
    padding: 0.5em;
    border-radius: 50%;
    border: none;
    margin: 0 0.5em;
}

.email-list .fa, .email-list .far {
    font-size: 1.5em;
}

.email-list .from , .email-list .subject{
    font-weight: bold;
}

.email-list .list-main {
    display: flex;
    align-items: center;
    min-width: 10em;
    margin: 0;
    margin-right: 2em;
}

.email-list .list-content {
    display: flex;
    align-items: center;
    flex-grow: 1;
    justify-content: flex-start;
    text-align: left;
    overflow: hidden;
    margin-right: 1em;
}


