.keep-edit {
  background-color: rgb(199, 194, 194);
  height: fit-content;
  z-index: 2;
  position: absolute;
  left: 0;
  top: 0;
  display: block;
  width: inherit;
  justify-content: center;
  background-color: #ffffff;
  border-radius: 10px;
  padding: 5px;
  box-shadow: 0 1px 2px 0 rgba(60, 64, 67, 0.302),
    0 1px 3px 1px rgba(56, 59, 61, 0.149);
}

.add-container {
  display: flex;
  width: 100%;
  justify-content: center;
  margin-block-start: 40px;
  margin-block-end: 50px;
}

.add-container .add-note-actions {
  position: relative;
  width: 22rem;
  background-color: #ffffff;
  border-radius: 10px;
  display: flex;
  padding: 5px;
  box-shadow: 0 1px 2px 0 rgba(60, 64, 67, 0.302),
  0 1px 3px 1px rgba(56, 59, 61, 0.149);
}

.add-note-actions .noteTxt {
  width: 70%;
  border-style: none;
  box-shadow: none;
}

.add-note-actions .fas-box {
  width: 30%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  cursor: pointer;  
}

.keep-add .fa-times-circle {
    position: absolute;
    right: 0;
    padding: 0.5rem;
    cursor: pointer;
    font-size: 1.2rem;
}
.keep-add input {
    border: none;
    box-shadow: none;
    width: 80% !important;
}
.keep-add input:focus {
    box-shadow: none;
}



.keep-add .add-btn {
    background-color: transparent;
    padding: 0.5rem;
    float: right;
    border: none;
    border-radius: 0.25rem;
    margin: 0 1rem;
}

.keep-add .add-btn:hover {
    background-color: #00000015;
}

@media (min-width: 768px) {
  .add-container .add-note-actions {
    width: 40rem;
  }
  .add-container {
    margin-block-start: 120px;
  }
  .add-note-actions .noteTxt {
    width: 80%;
  }
  .add-note-actions .fas-box {
    width: 20%
  }
}
