.note {
    width: 15rem;
    background-color: cornflowerblue;
    display: flex;
    flex-direction: column;
    border-radius: 1rem;
    padding: 1rem;
    text-align: start;
}

.note img {
    width: 13rem;
    margin-block-end: 1rem;
    align-self: center;
}