/* helpers */

.app-main {
    margin-top: 5em;
    min-height: 80vh;
}

/* flex */

.flex {
    display: flex;
}

.space-between {
    justify-content: space-between;
}

.align-center {
    align-items: center;
}

.flex.row-reverse {
    flex-direction: row-reverse;
}

/* text */

.text-left {
    text-align: left;
}

.txt-gold {
    color: gold;
}

/* hover */
.hoverable {
    opacity: 0.7;
}

.hoverable:hover {
    opacity: 1;
    transition: all 200ms ease-in-out;
}
